In [1]:
2 + 2

4

In [2]:
5 - 2

3

In [3]:
3 * 4

12

In [4]:
5 / 2

2.5

In [5]:
5 ** 2

25

In [6]:
5 % 2

1

In [7]:
5 * 2 + 4

14

In [8]:
5 * ( 2 + 4)

30

In [9]:
var1 = 2
var1

2

In [10]:
var1 = 5 * 2 + 4
var1

14

In [11]:
5 > 2

True

In [12]:
3 <= 2

False

In [19]:
str1 = "Python tutorial"
str1

'Python tutorial'

In [20]:
x = "SQL"

In [21]:
print("st {} tutorial".format(x))

st SQL tutorial

In [22]:
print("st {} tutorial {}".format(x, var1))

st SQL tutorial 14

In [23]:
len(str1)

15

In [24]:
str1

'Python tutorial'

In [25]:
str1.replace("Python", "SQL" )

'SQL tutorial'

In [26]:
x = str1.replace("Python", "SQL" )

In [27]:
x[1]

'Q'

In [28]:
x[2:6]

'L tu'

In [29]:
x[4:6]

'tu'

In [30]:
x[-1]

'l'

In [31]:
x[:5]

'SQL t'

In [32]:
x[5:]

'utorial'

In [34]:
x[2:10:2]

'Lttr'

In [35]:
type(x)

str

In [36]:
type(var1)

int

In [37]:
var2 = 5/2

In [38]:
type(var2)

float

In [39]:
l1 = list(range(1,6))

In [40]:
type(l1)

list

In [41]:
l1

[1, 2, 3, 4, 5]

In [42]:
l1[0]

1

In [43]:
l1[:3]

[1, 2, 3]

In [45]:
l1[::2]

[1, 3, 5]